<div class="main">
  <!-- HEADER  -->
  <div class="header">
    <div class="logo-container">
      <div class="logo-box">
          <ion-img src="../../assets/icon/v5_133.png" class="logo"></ion-img>
      </div>
    </div>
  </div>


  <!-- FOOTER -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button  href="/main/main/home">
        <ion-icon class="fas fa-home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button  href="/main/main/wallet">
        <ion-icon class="fas fa-wallet"></ion-icon>
      </ion-tab-button>

      <ion-tab-button  href="/main/main/support">
        <ion-icon class="fa-solid fa-triangle-exclamation "></ion-icon>
      </ion-tab-button>

      <ion-tab-button  href="/main/main/profile">
        <ion-icon class="fa-solid fa-user"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>