
<ion-content class="home">
    <div class="header">
        <div class="logo-container">
            <div class="logo-box">
                <ion-img src="../../assets/icon/v5_133.png" class="logo"></ion-img>
            </div>
            
        </div>
        <div class="header-text">
            <h1>¿Qué quieres tomar?</h1>
            <input class="input-id" placeholder="Introduce el ID de la máquina"/>
        </div>
    </div>
    <div class="content">
        <div class="titles-container">
            <ion-button class="boton-transparente"  color="transparent" (click)="redirigir_home()">
                <h2>Café</h2>
            </ion-button>
    
            <ion-button class="boton-transparente"  color="transparent" (click)="redirigir_home()">
                <h2>Aperitivos</h2>
            </ion-button>

            <div>
                <h2 style="color: #70442b; font-weight: bold;">Bebidas</h2>
                <hr class="linea-decorativa">
            </div>
        </div>
        
        <div class="products-containter">
            <div class="producto">
                <div class="foto-producto">
                    <ion-img src="../../assets/leche.png" class="producto-foto"></ion-img>       
                </div>
                <div class="texto-producto">
                    <p>Leche</p>
                    <p>0,50€</p>
                </div>
                
            
            </div>
        </div>
    </div>
    <div class="footer">
        <ion-button color="transparent" class="boton-transparente">
            <ion-icon class="fas fa-home icono-pequeño"></ion-icon>
        </ion-button>
        <ion-button color="transparent" class="boton-transparente">
            <ion-icon class="fas fa-wallet icono-pequeño"></ion-icon>
        </ion-button>
        <ion-button (click)="redirigir_soporte()" color="transparent" class="boton-transparente">
            <ion-icon class="fa-solid fa-triangle-exclamation icono-custom"></ion-icon>
        </ion-button>
        <ion-button color="transparent" class="boton-transparente">
            <ion-icon class="fa-solid fa-user icono-pequeño"></ion-icon>
        </ion-button>
    </div>
</ion-content>
