@import "~@fortawesome/fontawesome-free/css/all.css";

.home {
    display: grid;
    height: 100vh; 
    width: 100vw; 
    background-color: #ffffff;
    overflow: hidden;
}

/* HEADER */
.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    height: 34%;
    width: 100%;
    background-color: #f8f1d7;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.logo-container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo-box{
    display: block;
    background-color: white;  
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    margin-top: 15%;
}

.logo{
    width: 25vw;
    height: 25vw;
}

.header-text{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.header-text h1{
    font-size: 25px;
}

.input-id {
    background: #cccccc; 
    border-radius: 25px; 
    padding: 5px 15px; 
    border: none;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20%;

}

/* COTENIDO */
.content{
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 57%;
}

.titles-container{
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

.titles-container h2{
    font-size: 22px;
}

.linea-decorativa {
    width: 120px; /* Ancho de la línea */
    height: 4px; /* Grosor de la línea */
    border-radius: 20px; /* Hacer la línea circular */
    background-color: #70442b; /* Color de la línea */
    margin-bottom: 10px; /* Espacio entre la línea y el texto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra debajo de la línea */

    margin-left: 3%;
    margin-top: 4%;
}

.boton-transparente {
    background-color: white;
    color: black; /* Define el color de texto que desees */
    border: none; /* Elimina el borde si lo hay */
    padding: 0; /* Elimina el relleno interno */
  }
  

.products-containter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: scroll;
}

.producto{
    display: grid;
    grid-template-rows: 2fr 1fr;
    background-color: #f8f1d7;
    margin: 5%;
    justify-content: center;
    align-items: center;
    border-radius: 7%;
}

.foto-producto{
    display: block;
    justify-content: center;
    align-items: center;
}

.texto-producto{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 4%;
    align-items: center;
    position: fixed;
    bottom: 3%;
    width: 100%;
}

.home-foto{
    height: 30%;
}

.icono-custom {
    font-size: 200% ;/* Tamaño deseado */
    margin-left: 25%;
    color:#70442b;
}
.icono-pequeño {
    font-size: 200% ;/* Tamaño deseado */
    margin-left: 25%;
}
