// Estilos para poder solapar header y poner texto
.home-container{
    margin-top: 35%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    row-gap: 5%;
}

/* Header especial para cada pantalla */
.home-header{
    display: grid;
    justify-content: center;
    text-align: center;
}

/* Contenido */
.home-content{
    display: grid;
    grid-template-rows: 0.5fr 8fr;
}

/* Linea de selección de productos */
.titles-container{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.titles-container h2{
    font-size: 22px;
    color: rgba(192, 191, 191, 0.959);
    margin-bottom: 0px;
}

.title-box{
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.linea-decorativa {
    display: none;
    height: 4px; /* Grosor de la línea */
    border-radius: 20px; /* Hacer la línea circular */
    background-color: #70442b; /* Color de la línea */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra debajo de la línea */
}

.active h2 {
    font-weight: bold;
    color: #70442b;
  }
  
.active .linea-decorativa {
    display: block;
}

/* Productos */
.products-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 10px;
    overflow: auto;
    padding: 15px;
}

.producto {
    background-color: #f8f1d7;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border-radius: 30px;
    width: 44vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.foto-producto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.foto-producto {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    background: transparent;
}

.producto-foto {
    max-width: 100%;
    border-radius: 10px;
}

.texto-producto {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%; 
}
/* Añadir azucar */
.overlay {
    position: fixed; /* Posición fija sobre todo lo demás */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
.add-balance-popup {
    display: grid;
    background-color: white;
    padding: 20px;
    border-radius: 40px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Alinea el texto al centro */
}
  

.add-balance-popup input{
    height: 5vh;
    width: 10vw;
    margin-bottom: 5%;
    background-color: white;
    color: black;

}

.add-balance-popup button{
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 40px; /* Esquinas redondeadas para el botón */
    background-color: #E9DBAB; /* Color de fondo del botón */
    color: #5C5353; /* Color del texto del botón */
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    margin-bottom: 5%;
    height: 5vh;
    width: 30vw;
    font-weight: bold;
}


#tus_maquinas_texto{
    margin-top:7vh;
    color: #70442b;
    font-weight: bold;
    font-size: 30px;
}