<div class="maquinasEstadisiticas">
    <div class="nivelMaquina grafico-box" #maquinaNivelDirectoStyle>
        <h3>Nivel en directo de la {{nombresFormales[nombreMaquina]}}</h3>
        <div *ngIf="mostrarGraficaNivelDirecto">
            <ngx-charts-bar-vertical 
            [view]="graficaNivelDirecto.viewSize"
            [results]="graficaNivelDirecto.data"
            [xAxisLabel]="graficaNivelDirecto.xAxisLabel"
            [yAxisLabel]="graficaNivelDirecto.yAxisLabel"
            [legend]="graficaNivelDirecto.legend"
            [showXAxisLabel]="graficaNivelDirecto.showXAxisLabel"
            [showYAxisLabel]="graficaNivelDirecto.showYAxisLabel"
            [xAxis]="graficaNivelDirecto.xAxis"
            [yAxis]="graficaNivelDirecto.yAxis"
            [gradient]="graficaNivelDirecto.gradient"
            [showGridLines]="graficaNivelDirecto.showGridLines"
            [yScaleMax]="graficaNivelDirecto.yScaleMax">
            </ngx-charts-bar-vertical>
        </div>
    </div>

    <div *ngFor="let producto of productos; let i = index" class="producto grafico-box" [ngClass]="'producto-' + i" #productosHistorialStyle>
        <h3>Nivel {{ producto }}</h3>
        <div *ngIf="mostrarGraficasHistorialProductos">
            <ngx-charts-bar-vertical 
            [view]="graficasHistorialProducto[producto].viewSize"
            [results]="graficasHistorialProducto[producto].data"
            [xAxisLabel]="graficasHistorialProducto[producto].xAxisLabel"
            [yAxisLabel]="graficasHistorialProducto[producto].yAxisLabel"
            [legend]="graficasHistorialProducto[producto].legend"
            [showXAxisLabel]="graficasHistorialProducto[producto].showXAxisLabel"
            [showYAxisLabel]="graficasHistorialProducto[producto].showYAxisLabel"
            [xAxis]="graficasHistorialProducto[producto].xAxis"
            [yAxis]="graficasHistorialProducto[producto].yAxis"
            [gradient]="graficasHistorialProducto[producto].gradient"
            [showGridLines]="graficasHistorialProducto[producto].showGridLines"
            [yScaleMax]="graficasHistorialProducto[producto].yScaleMax">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    
    
    <div class="grafico-circular grafico-box" #masVendido>
        <h3>Productos más vendidos</h3>
        <div *ngIf="mostrarGraficaCircular">
            <ngx-charts-pie-grid
            [view]="graficaCircular.viewSize"
            [results]="graficaCircular.data">
        </ngx-charts-pie-grid>
        </div>
    </div>

    <div class="estadisticas-container">
        <div class="estadistica-1 grafico-box">
            <div class="titulo">
                <h3>Ventas diarias</h3>
            </div>
            <div class="texto-porcentaje">
                <i *ngIf="cambioPorcentual >= 0; else downIcon" style="color: green" class="fa-solid fa-caret-up"></i>
                <ng-template #downIcon>
                    <i style="color: red" class="fa-solid fa-caret-down"></i>
                </ng-template>
                <h1>{{ cambioPorcentual }}%</h1>
            </div>
            <div class="texto-porcentaje">
                <i *ngIf="cambioPorcentual >= 0; else downIcon" style="color: green" class="fa-solid fa-caret-up"></i>
                <ng-template #downIcon>
                    <i style="color: red" class="fa-solid fa-caret-down"></i>
                </ng-template>
                <h1>{{ cambioPorcentualGanancias }}€</h1>
            </div>
            <div class="subtexto">
                <p>{{ ventasHoy }} hoy respecto a {{ ventasAyer }} de ayer</p>
            </div>
        </div>

        <div class="estadistica-2 grafico-box">
            <div class="titulo">
                <h3>Ventas Semanales</h3>
            </div>
            <div class="texto-porcentaje">
                <i *ngIf="cambioPorcentualSemanal >= 0; else downIcon" style="color: green" class="fa-solid fa-caret-up"></i>
                <ng-template #downIcon>
                    <i style="color: red" class="fa-solid fa-caret-down"></i>
                </ng-template>
                <h1>{{ cambioPorcentualSemanal }}%</h1>
            </div>
            <div class="texto-porcentaje">
                <i *ngIf="cambioPorcentualGananciasSemanal >= 0; else downIcon" style="color: green" class="fa-solid fa-caret-up"></i>
                <ng-template #downIcon>
                    <i style="color: red" class="fa-solid fa-caret-down"></i>
                </ng-template>
                <h1>{{ cambioPorcentualGananciasSemanal }}€</h1>
            </div>
            <div class="subtexto">
                <p>{{ ventasSemanaActual }} esta semana respecto<br/>a {{ ventasSemanaAnterior }} de la semana anterior</p>
            </div>
        </div>


        <div class="estadistica-3 grafico-box">
            <h3>Ganancias Totales</h3>
            <div class="texto-porcentaje">
                <h1>{{ gananciasTotales | number:'1.2-2' }}€</h1>
            </div>
        </div>
        
    </div>


</div>