<div class="home-container">
  <div class="home-header">
    <h1>¿Qué quieres tomar?</h1>
    <!-- <input class="input-id" placeholder="Introduce el ID de la máquina"/> -->
    <label for="opciones">Elige una máquina</label>
    <select name="opciones" class="opciones" [(ngModel)]="maquinaSeleccionada" (ngModelChange)="onMaquinaSeleccionada()">
      <option value="teleco">Teleco</option>
      <option value="biologia">Biología</option>
      <option value="industriales">Industriales</option>
      <option value="minas">Minas</option>
    </select>
  </div>
  <div class="home-content">
    <div class="titles-container">
      <div class="title-box" (click)="selectCategory('cafe')" [ngClass]="{'active': selectedCategory === 'cafe'}">
        <h2>Café</h2>
        <hr class="linea-decorativa">
      </div>
      <div class="title-box" (click)="selectCategory('aperitivos')" [ngClass]="{'active': selectedCategory === 'aperitivos'}">
        <h2>Aperitivos</h2>
        <hr class="linea-decorativa">
      </div>
      <div class="title-box" (click)="selectCategory('bebidas')" [ngClass]="{'active': selectedCategory === 'bebidas'}">
        <h2>Bebidas</h2>
        <hr class="linea-decorativa">
      </div>
    </div>
    <div class="products-content">
      <div class="products-container">
        <div *ngFor="let product of products[selectedCategory]" class="producto">
          <div *ngIf="!product.available" class="producto-overlay">
            <p>No disponible</p>
            <i class="fa-solid fa-ban"></i>
          </div>
          <div class="foto-producto">
            <button (click)="showOverlay(product)">
              <img [src]="product.img" class="producto-foto"/>
            </button>
          </div>
          <div class="texto-producto">
              <p>{{ product.name }}</p>
              <p style="color:#70442b">{{ product.price }}€</p>
          </div>
        </div>

      </div>
      <div class="overlay" *ngIf="isOverlayVisibleAzucar">
        <div class="add-balance-popup">
          <h2 style="color: #70442b;"><b>{{ productoSeleccionado.name }}</b></h2>
          <div class="selector-azucar">
            <b style="color: black">Azúcar</b> <!-- Aquí se agrega "Azúcar" -->
            <button (click)="decrementAmount()" [disabled]="amountToAdd <= 0"><span>&#9660;</span></button>
            <input type="text" [(ngModel)]="amountToAdd" placeholder="Cantidad a añadir" (input)="validateAmount($event)">
            <button (click)="incrementAmount()" [disabled]="amountToAdd >= 5"><span>&#9650;</span></button>
          </div>
          <p style="color: #70442b;">Se hará una carga en tu cuenta de<br><b>{{ productoSeleccionado.price }}€</b></p>
          <button (click)="addBalance()">Comprar</button>
          <button (click)="closeOverlay()">Cancelar</button>
        </div>
      </div>

      <div class="overlay" *ngIf="isOVerlayVisible">
        <div class="add-balance-popup">
          <h2 style="color: #70442b;"><b>{{ productoSeleccionado.name }}</b></h2>
          <p style="color: #70442b;">Se hará una carga en tu cuenta de<br><b>{{ productoSeleccionado.price }}€</b></p>
          <button (click)="comprar(productoSeleccionado)">Comprar</button>
          <button (click)="closeOverlay()">Cancelar</button>
        </div>
      </div>

      <div class="overlay" *ngIf="isOverlayCompra">
        <div class="add-balance-popup-confirmar">
          <h2 style="color: #70442b;"><b>Introduce el código de confirmación</b></h2>
          <input type="text" [(ngModel)]="codigoConfirmacion" placeholder="Código" class="codigoConfirmacion">
          <button (click)="enviarCodigo()">Confirmar</button>
          <button (click)="closeOverlay()">Cancelar</button>
        </div>
      </div>
      
  </div>
</div>

<div *ngIf="isLoading" class="loadingPage">
  <ion-spinner color="dark"></ion-spinner>
</div>