@import "~@fortawesome/fontawesome-free/css/all.css";
// Estilos para poder solapar header y poner texto
.home-container{
    margin-top: 35%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    row-gap: 5%;
}

/* Header especial para cada pantalla */
.home-header{
    display: grid;
    justify-content: center;
    text-align: center;
}

.home-header h1{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.home-header label{
    font-size: 15px;
    margin-bottom: 2%;
    color: black;
}

.opciones {
    text-align: center;
    background: white; 
    color: black;
    font-size: 20px;
    margin-bottom: 15%;
    padding: 10px 10px; 
    border: 2%;
    border-radius: 25px; 
    box-sizing: border-box;
    border-color: #70442b;
       

}

/* Contenido */
.home-content{
    display: grid;
    grid-template-rows: 1fr 6fr;
}

/* Linea de selección de productos */
.titles-container{
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

.titles-container h2{
    font-size: 22px;
    color: rgba(192, 191, 191, 0.959);
    margin-bottom: 0px;
}

.title-box{
    justify-content: center;
    align-items: center;
}

.linea-decorativa {
    display: none;
    height: 4px; /* Grosor de la línea */
    border-radius: 20px; /* Hacer la línea circular */
    background-color: #70442b; /* Color de la línea */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra debajo de la línea */
}

.active h2 {
    font-weight: bold;
    color: #70442b;
  }
  
.active .linea-decorativa {
    display: block;
}

/* Productos */
.products-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 10px;
    overflow: auto;
    padding: 10px;
}

.producto {
    background-color: #f8f1d7;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    align-items: center; 
    justify-content: center;
    border-radius: 10px;
}

.foto-producto {
    display: block;
    justify-content: center;
    height: 100%;
    max-width: 180px;
    overflow: hidden;
}

button {
    background: transparent;
}

.producto-foto {
    border-radius: 10px;
    max-height: 160px;
}


.texto-producto {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.producto-overlay {
    border-radius: 10px;
    width: 46%;
    height: 35%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro */
    color: white;
    display: flex;
    justify-content: center;
}

.producto-overlay p{
    color: white; /* Color del ícono */
    position: absolute;
    font-size: 25px;
    margin-top: 200px;
}


.producto-overlay i{
    color: white; /* Color del ícono */
    opacity: 0.75; /* Hacer el ícono un poco transparente */
    position: absolute;
    font-size: 160px;
    margin-top: 5%;
}
/* Añadir azucar */
.overlay {
    position: fixed; /* Posición fija sobre todo lo demás */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
.add-balance-popup {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 40px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Alinea el texto al centro */
}
  

.add-balance-popup input{
    height: 5vh;
    width: 10vw;
    margin-bottom: 5%;
    background-color: white;
    color: black;

}

.add-balance-popup button{
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 40px; /* Esquinas redondeadas para el botón */
    background-color: #E9DBAB; /* Color de fondo del botón */
    color: #5C5353; /* Color del texto del botón */
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5vh;
    font-weight: bold;
}

.selector-azucar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 2%;
}

.selector-azucar button{
    background: transparent;
    border-width: 0px;
}

.add-balance-popup-confirmar {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 40px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Alinea el texto al centro */
}
  

.add-balance-popup-confirmar input{
    height: 5vh;
    width: 20vw;
    margin-bottom: 5%;
    background-color: white;
    color: black;
    text-align: center;

}

.add-balance-popup-confirmar button{
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 40px; /* Esquinas redondeadas para el botón */
    background-color: #E9DBAB; /* Color de fondo del botón */
    color: #5C5353; /* Color del texto del botón */
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5vh;
    font-weight: bold;
}


.codigoConfirmacion {
    width: 20vw;
    margin-bottom: 5%;
    margin: 0 auto;
    background-color: white;
    color: black;
}

/* LOADING */

.loadingPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center; 
}

ion-spinner {
    width: 100px;
}