<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-content class="welcome">
  <div class="circulos">
    <div class="ellipse-1"></div>
    <div class="ellipse-3"></div>
    <div class="ellipse-4"></div>
    <div class="ellipse-2"></div>
  </div>
  <div class="botón" style="position: absolute; left: 50%; transform: translate(-50%,-50%);">
    <ion-button class="text-1" expand="block" color="#70442b" (click)="redirigir_start_login()" style="text-align: center;">Log In</ion-button>
  </div>
  <ion-img src="../../assets/icon/v5_133.png" 
  style="position: absolute; top: 40%; left: 50%; transform: translate(-50%,-50%);" ></ion-img>
</ion-content>
