@import "~@fortawesome/fontawesome-free/css/all.css";
// Estilos para poder solapar header y poner texto
.elementos-container{
    margin-top: 20%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.8fr 4fr;
    row-gap: 5%;
}

/* Header especial para cada pantalla */
.elementos-header{
    display: grid;
    justify-content: center;
    text-align: center;
}

#icono {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 135%;
    width: 10%; /* Tamaño del icono */
    height: auto; /* Para mantener la proporción del icono */
    color: white;
  }


/* Contenido */
.elementos-content{
    display: grid;
    grid-template-rows: 0.5fr 7fr 1fr;
}

.titles-container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.titles-container h2{
    color: #70442b;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.linea-decorativa-titulo {
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 20px;
    background-color: #70442b;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Main content */
.main-content{
    display: grid;
}

/* Contenedores */
.contenedores-content{
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr)); /* Cambiar a tres columnas */
    gap: 20px;
    overflow: auto;
    padding: 5% 5%;
}

.producto {
    background-color: #f8f1d7;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border-radius: 30px;
    width: 40vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 5%;
}

.foto-producto {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    background: transparent;
}

.producto-foto {
    max-width: 100%;
    border-radius: 10px;
}

.texto-producto {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.tanque {
    width: 30vw; /* Ancho del tanque */
    height: 18vh; /* Altura del tanque */
    border: 1px solid #70442b; /* Borde del tanque */
    position: relative; /* Posición relativa para los elementos internos */
}

#porcentaje{
    align-content: center;
    text-align: center;
    color: #6a6867;
    font-weight: bold;
    z-index: 1;
    position: relative;
}

.nombre {
    margin-top: 10px; /* Espacio entre el tanque y el nombre del producto */
    color: black;
}

.contenido {
    position: absolute; /* Posición absoluta para ajustar la altura */
    bottom: 0; /* Colocar el contenido al fondo del tanque */
    left: 0; /* Alinear el contenido a la izquierda */
    width: 100%; /* Ancho completo del contenido */
    z-index: 0; 
}

/* Graficas */
.graficas-content{
    display: grid;
    grid-template-rows: 0.7fr 4.5fr;
}

.selector-productos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6%;
    overflow-x: auto;
    margin-left: 0;
    padding-left: 15%;
    padding-right: 15%;
}

.grafica{
    display: block;
}


/* Selector de categorias */
.categoria-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
}

.title-box h2 {
    font-size: 22px;
    color: rgba(192, 191, 191, 0.959);
    margin: 0;
}

.linea-decorativa {
    display: none;
    height: 5px;
    width: 100%;
    border-radius: 20px;
    background-color: #70442b;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.active h2 {
    font-weight: bold;
    color: #70442b;
  }
  
.active .linea-decorativa {
    display: block;
}

/* Overaly rellenar */
.overlay {
    position: fixed; /* Posición fija sobre todo lo demás */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index:2;
  }
  
  .add-balance-popup {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 40px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Alinea el texto al centro */
}
  
.add-balance-popup input{
    width: 20vw;
    height: 5vh;
    margin-left: 10px;
    margin-bottom: 5%;
    background-color: white;
    color: black;
}

.add-balance-popup button{
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 40px; /* Esquinas redondeadas para el botón */
    background-color: #E9DBAB; /* Color de fondo del botón */
    color: #5C5353; /* Color del texto del botón */
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5vh;
    font-weight: bold;
}

.selector-azucar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% 2%;
}

.selector-azucar button{
    background: transparent;
    border-width: 0px;
}

.grafico-box {
    border-radius: 10px;
    border: 2px solid #70442B;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 4%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 47vh; /* Altura de la pantalla */
}

.maquina-directo {
    margin-top: 5%;
}

.selector-fecha{
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    display: flex;
}

.loadingPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center; 
}

ion-spinner {
    width: 100px;
}

