@import "~@fortawesome/fontawesome-free/css/all.css";

// Estilos para poder solapar header y poner texto
.home-container{
    margin-top: 35%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    row-gap: 5%;
}

/* Header especial para cada pantalla */
.home-header{
    display: grid;
    justify-content: center;
    text-align: center;
}

/* Contenido */
.home-content{
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    position:relative;
}

/* Linea de selección de productos */
.titles-container{
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 2;
}

.titles-container_2{
    display: flex;
    justify-content: space-around;
    padding-left: 45%;
    padding-right: 10%;
    gap: 20px;
    z-index: 2;
}


.titles-container h2{
    font-size: 22px;
    color: rgba(192, 191, 191, 0.959);
    margin-bottom: 0px;
}

.title-box{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.linea-decorativa {
    display: none;
    height: 4px; /* Grosor de la línea */
    border-radius: 20px; /* Hacer la línea circular */
    background-color: #70442b; /* Color de la línea */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra debajo de la línea */
}

.active h2 {
    font-weight: bold;
    color: #70442b;
  }
  
.active .linea-decorativa {
    display: block;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(120px, 1fr)); /* Cambiar a tres columnas */
    gap: 20px; /* Aumentar el espacio entre elementos */
    overflow: auto;
    padding: 5% 5%;
}

.producto {
    background-color: #f8f1d7;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border-radius: 30px;
    width: 40vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 5%;
}

.foto-producto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.foto-producto {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    background: transparent;
}

.producto-foto {
    max-width: 100%;
    border-radius: 10px;
}

.texto-producto {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%; 
}
/* Añadir azucar */
.overlay {
    position: fixed; /* Posición fija sobre todo lo demás */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index:2;
  }
  
.add-balance-popup {
    display: grid;
    background-color: white;
    padding: 20px;
    border-radius: 40px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Alinea el texto al centro */
    
}
  

.add-balance-popup input{
    height: 5vh;
    width: 10vw;
    margin-bottom: 5%;
    background-color: white;
    color: black;
    

}

.add-balance-popup button{
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 40px; /* Esquinas redondeadas para el botón */
    background-color: #E9DBAB; /* Color de fondo del botón */
    color: #5C5353; /* Color del texto del botón */
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    margin-bottom: 5%;
    height: 5vh;
    width: 30vw;
    font-weight: bold;
}

#icono {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 135%;
    width: 10%; /* Tamaño del icono */
    height: auto; /* Para mantener la proporción del icono */
    color: white;
  }
  
  

#tus_maquinas_texto{
    margin-top:7vh;
    color: #70442b;
    font-weight: bold;
    font-size: 30px;
}

.tanque {
    width: 30vw; /* Ancho del tanque */
    height: 18vh; /* Altura del tanque */
    border: 1px solid #70442b; /* Borde del tanque */
    position: relative; /* Posición relativa para los elementos internos */
  }
  
  .contenido {
    background-color: rgb(163, 204, 253);
    position: absolute; /* Posición absoluta para ajustar la altura */
    bottom: 0; /* Colocar el contenido al fondo del tanque */
    left: 0; /* Alinear el contenido a la izquierda */
    width: 100%; /* Ancho completo del contenido */
    z-index: 0; 
  }
  
  .nombre {
    margin-top: 10px; /* Espacio entre el tanque y el nombre del producto */
    color: black;
  }

  #porcentaje{
    align-content: center;
    text-align: center;
    color: #6a6867;
    font-weight: bold;
    z-index: 1;
    position: relative;
  }
  