<div class="home-container">
  <div class="home-header">
    <!-- Contenido del encabezado si lo tienes -->
  </div>
  <div class="home-content">
    <div class="titles-container">
      <div class="title-box">
        <h2 id="tus_maquinas_texto">{{ nombre }}</h2> <!-- Mostrar la categoría seleccionada -->
        <hr class="linea-decorativa">
      </div>
    </div>
    <div class="products-content">
      <div class="products-container">
        <div *ngFor="let product of product[selectedCategory]" class="producto">
          <div class="tanque">
            <div class="contenido" [style.height.%]="calcularPorcentaje(product.porcentaje)">
              <!-- Contenido del tanque -->
            </div>
          </div>
          <div class="nombre">{{ product.name }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- División adicional para la selección de categorías -->
  <div class="home-content">
    <div class="titles-container">
      <div class="title-box" (click)="selectCategory('consumos')" [ngClass]="{'active': selectedCategory === 'consumos'}">
        <h2>Consumos</h2>
        <hr class="linea-decorativa">
      </div>
      <div class="title-box" (click)="selectCategory('ventas')" [ngClass]="{'active': selectedCategory === 'ventas'}">
        <h2>Ventas</h2>
        <hr class="linea-decorativa">
      </div>
    </div>
  </div>
</div>
