<div class="elementos-container">
  <div class="elementos-header">
    <button color="transparent" id="icono" class="fas fa-arrow-left" (click)="redirigir_maquinas()"></button>
  </div>
  <div class="elementos-content">
    <div class="titles-container">
      <h2>{{ nombre }}</h2>
      <hr class="linea-decorativa-titulo">
    </div>
    <div class="main-content">
      <div class="contenedores-content" *ngIf="selectedCategory === 'consumos'">
        <div *ngFor="let product of product[selectedCategory]" class="producto">
          <button color="transparent" (click)="showOverlay(product.name)">
            <div class="tanque"  *ngIf="product.name !== 'Patatillas'">
              <div class="contenido" [ngStyle]="{
                'height': product.porcentaje+ '%',
                'background-color': obtenerColorTanque(product.name)
              }">
              </div>
              
              <h2 id="porcentaje"[ngStyle]="{'color': obtenerColorPorcentaje(product.porcentaje)}">{{product.porcentaje}}%</h2>
            </div>
            <div *ngIf="product.name !== 'Patatillas'" class="nombre">
              <div class="nombre">{{ product.name }}</div>
            </div>
            <div *ngIf="product.name === 'Patatillas'" class="nombre">
              <h2 id="porcentaje"[ngStyle]="{'color': obtenerColorPorcentaje(product.porcentaje)}">{{product.porcentaje}}</h2>
              <h2 id="porcentaje"[ngStyle]="{'color': obtenerColorPorcentaje(product.porcentaje)}">Unidades</h2>
              <div class="nombre">{{ product.name }}</div>
            </div>
          </button>
        </div>
      </div>

      <div class="graficas-content" *ngIf="selectedCategory !== 'consumos'">

        <div class="selector-productos">
          <div class="title-box" (click)="selectCategory('agua')" [ngClass]="{'active': selectedCategory === 'agua'}">
            <h2>Agua</h2>
            <hr class="linea-decorativa">
          </div>
          <div class="title-box" (click)="selectCategory('cafe')" [ngClass]="{'active': selectedCategory === 'cafe'}">
            <h2>Café</h2>
            <hr class="linea-decorativa">
          </div>
          <div class="title-box" (click)="selectCategory('leche')" [ngClass]="{'active': selectedCategory === 'leche'}">
            <h2>Leche</h2>
            <hr class="linea-decorativa">
          </div>
          <div class="title-box" (click)="selectCategory('patatillas')" [ngClass]="{'active': selectedCategory === 'patatillas'}">
            <h2>Patatas</h2>
            <hr class="linea-decorativa">
          </div>
          <div class="title-box" (click)="selectCategory('ventas')" [ngClass]="{'active': selectedCategory === 'ventas'}">
            <h2>Ventas</h2>
            <hr class="linea-decorativa">
          </div>
        </div>
        
        <div class="maquina-directo grafico-box">
          <div  *ngIf="this.selectedCategory !=='consumos'">
              <ngx-charts-bar-vertical 
              [view]="graficasNiveles[this.selectedCategory].viewSize"
              [results]="graficasNiveles[this.selectedCategory].data"
              [xAxisLabel]="graficasNiveles[this.selectedCategory].xAxisLabel"
              [yAxisLabel]="graficasNiveles[this.selectedCategory].yAxisLabel"
              [legend]="graficasNiveles[this.selectedCategory].legend"
              [showXAxisLabel]="graficasNiveles[this.selectedCategory].showXAxisLabel"
              [showYAxisLabel]="graficasNiveles[this.selectedCategory].showYAxisLabel"
              [xAxis]="graficasNiveles[this.selectedCategory].xAxis"
              [yAxis]="graficasNiveles[this.selectedCategory].yAxis"
              [gradient]="graficasNiveles[this.selectedCategory].gradient"
              [showGridLines]="graficasNiveles[this.selectedCategory].showGridLines"
              [yScaleMax]="graficasNiveles[this.selectedCategory].yScaleMax">
              </ngx-charts-bar-vertical>
              
              <div class="selector-fecha" *ngIf="this.selectedCategory ==='ventas'">
                <label for="fecha"></label>
                <select id="fecha" [(ngModel)]="selectedDate" (change)="updateChart()">
                  <option *ngFor="let fecha of fechasDisponibles">{{ fecha }}</option>
                </select>
              </div>
          </div> 

          
        </div>  
      </div>  
      
          
    </div>

    <div class="categoria-content">
      <div class="title-box" (click)="selectCategory('consumos')" [ngClass]="{'active': selectedCategory === 'consumos'}">
        <h2>Consumos</h2>
        <hr class="linea-decorativa">
      </div>
      <div class="title-box" (click)="selectCategory('agua')" [ngClass]="{'active': selectedCategory !== 'consumos'}">
        <h2>Estadísticas</h2>
        <hr class="linea-decorativa">
      </div>
    </div>

    <!-- Overlay para rellenar -->
    <div class="overlay" *ngIf="isOverlayVisible">
      <div class="add-balance-popup">
        <h2 style="color: #70442b;"><b>{{ productoSeleccionado }}</b></h2>
        <div class="selector-azucar">
          <b style="color: black">Cantidad</b>
          <input type="number" [(ngModel)]="amountToAdd" placeholder="Cantidad a añadir" (input)="validateAmount($event)">
        </div>
        <button (click)="addBalance(productoSeleccionado)">Añadir</button>
        <button (click)="closeOverlay()">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isLoading" class="loadingPage">
  <ion-spinner color="dark"></ion-spinner>
</div>