<div class="forgot-password">
  <div class="header">
    <button  id="icono" class="fas fa-arrow-left" (click)="redirigir_maquinas()"></button>
    <div class="logo-container">
      <div class="logo-box">
          <ion-img src="../../assets/icon/v5_133.png" class="logo"></ion-img>
      </div>
    </div>
  </div>
  <div class="forgot-password-container">
    <div class="forgot-password-form">
      <h2>Restablecer contraseña</h2>
      <form [formGroup]="formForgotPassword" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
      </form>
    </div>
    <div class="forgot-password-button">
      <button type="submit" (click)="onSubmit()">Restablecer</button>
    </div>
  </div>
</div>

