<ion-content class="log-in">
  <div class="ellipse-7"></div>
  <div class="rectangulo">
    <form [formGroup]="formForgotPassword" (ngSubmit)="onSubmit()">
      <div class="botón" style="position: absolute; left: 50%; transform: translate(-50%,-50%);">
        <ion-button  class="text-1" expand="block" color="#5C5353" type="submit">Reestablecer</ion-button>
      </div>
      <p class="text-3" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%,-50%);">Welcome to TeleCoffe</p>
      <div class="mail">
        <input formControlName="email" type="email" placeholder="E-Mail" style="position: absolute; top: 49%; left: 50%; transform: translate(-50%,-50%); border: none; outline: none; background: transparent; width: 200px;" required>
        <div class="line-1" style="position: absolute; top: 52%; left: 50%; transform: translate(-50%,-50%);"></div>
      </div>
    </form>
  </div>
  <div class="icono">
    <div class="ellipse-5"></div>
    <ion-img src="../../assets/icon/v5_133.png" style="position: absolute; top: 70px; left: 127px; height: 179px; width: 145px;"></ion-img>
  </div>
</ion-content>
