[Unit]
Description=Backend TeleCoffe
After=network.target

[Service]
EnvironmentFile=/home/lpro/apps_telecofee/Backend/.env
Type=simple
User=lpro
ExecStart=/usr/bin/node /home/lpro/apps_telecofee/Backend/server.js
WorkingDirectory=/home/lpro/apps_telecofee/Backend/

[Install]
WantedBy=multi-user.target