<ion-content class="home">
    <div class="header">
        <div class="logo-container">
            <div class="logo-box">
                <ion-img src="../../assets/icon/v5_133.png" class="logo"></ion-img>
            </div>
            
        </div>
        <div class="header-text">
            <h1>¿Qué quieres tomar?</h1>
            <input class="input-id" placeholder="Introduce el ID de la máquina"/>
        </div>
    </div>
    <div class="content">
        <div class="titles-container">
            <h2>Café</h2>
            <h2>Aperitivos</h2>
            <h2>Bebidas</h2>
        </div>
        <div class="products-containter">
            <div class="producto">
                <div class="foto-producto">
                    <ion-img src="../../assets/cafe_con_leche.jpg" class="producto-foto"></ion-img>       
                </div>
                <div class="texto-producto">
                    <p>Café con leche</p>
                    <p>1,35€</p>
                </div>
                
            </div>
            <div class="producto">
                <div class="foto-producto">
                    <ion-img src="../../assets/cafe_americano.png" class="producto-foto"></ion-img>       
                </div>
                <div class="texto-producto">
                    <p>Café americano</p>
                    <p>1,15€</p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer">
        <ion-img src="../../assets/home.png" class="home-foto"></ion-img>
        <ion-img src="../../assets/wallet.png" class="home-foto"></ion-img>
        <ion-img src="../../assets/alert.png" class="home-foto"></ion-img>
        <ion-img src="../../assets/user.png" class="home-foto"></ion-img>
    </div>
</ion-content>
