.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.ellipse-8 {
    height: 150vw;
    width: 150vw;
    border-radius: 50%;
    top: -30%;
    left: -25%;
    background-color: #f8f1d7;
    position: absolute;
}

.ellipse-5 {
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    position: absolute;
    background-color: white;
}
  
.icono {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.logo{
    position: absolute;
    height: 20vw;
    width: 20vw;
}