@import "~@fortawesome/fontawesome-free/css/all.css";

// Estilos para poder solapar header y poner texto
.support-container {
    margin-top: 35%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr;
    row-gap: 2%;
}

/* Header especial para cada pantalla */
.support-header{
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.elementos-content{
    display: grid;
    grid-template-rows: 0.5fr 7fr 1fr;
}

#nombre{
    color: #70442b;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20%;
}

.support-titulo{
    display: grid;
    margin-bottom: 0px;
}
.support-header h1{
    text-align: center;
    font-weight: bold;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.support-header h2{
    color: black;
    font-size: 20px;
}


/* Contenido */
.support-content {
    display: grid;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
    align-items: start; /* Cambio para alinear al inicio */
    overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
    gap: 10px; /* Espacio entre cajones de compras */

}
  /* Estilos para las incidencias */
.incidencia {
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.incidencia-enviada {
    background-color: #a77b61;
}

.incidencia-no-enviada {
    background-color: #70442b;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    border: none;
}

.incidencia-header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
}

.maquina, .fecha {
    font-weight: bold;
    margin-right: 17%;
}

.descripcion {
    color: #000000;
}

/* Añadir saldo */
.overlay {
    position: fixed; /* Posición fija sobre todo lo demás */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
.add-balance-popup {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 40px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Alinea el texto al centro */
}
  
.add-balance-popup input{
    height: 5vh;
    margin-bottom: 5%;
    background-color: white;
    color: black;

}

.add-balance-popup button{
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 40px; /* Esquinas redondeadas para el botón */
    background-color: #E9DBAB; /* Color de fondo del botón */
    color: #5C5353; /* Color del texto del botón */
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5vh;
    font-weight: bold;
}


  