<div class="support-container">
  <div class="support-header">
    <h2 id="nombre">Incidencias</h2>
    <hr class="linea-decorativa">
  </div>
  <div class="support-content">
    <div *ngFor="let incidencia of datosIncidencia; let i = index" [ngClass]="{'incidencia-enviada': incidencia.enviado, 'incidencia-no-enviada': !incidencia.enviado}" class="incidencia" >
      <button class="text-container" (click)="showOverlay(incidencia.descripcion, incidencia.email, i)">
        <div class="incidencia-header">
          <p class="maquina">{{ incidencia.maquina }}</p>
          <p class="fecha">{{ incidencia.fecha }}</p>
        </div>
        <p class="descripcion">{{ incidencia.descripcion }}</p>
      </button>
    </div>
  </div>
  <div class="overlay" *ngIf="isOverlayVisible">
    <div class="add-balance-popup">
      <h2 style="color: #70442b;"><b>Responder Incidencia</b></h2>
      <h4 style="color: #70442b;"><b>{{ descripcionActual }}</b></h4>
      <!-- Dentro del template del componente -->
      <input type="text" [placeholder]="'Escriba su respuesta aquí'" #respuestaInput>
      <button (click)="sendEmail($event)">Enviar</button>
      <button (click)="closeOverlay()">Cancelar</button>
    </div>
  </div>
</div>
