@import "~@fortawesome/fontawesome-free/css/all.css";

// Estilos para poder solapar header y poner texto
.support-container{
    margin-top: 35%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr;
    row-gap: 2%;
}

/* Header especial para cada pantalla */
.support-header{
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.elementos-content{
    display: grid;
    grid-template-rows: 0.5fr 7fr 1fr;
}

#nombre{
    color: #70442b;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20%;
}

.support-titulo{
    display: grid;
    margin-bottom: 0px;
}
.support-header h1{
    text-align: center;
    font-weight: bold;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.support-datos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;

}

.support-header h2{
    color: black;
    font-size: 20px;
}

.support-balance{
    display:block;
    color:#70442b;
    font-size: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Contenido */
.support-content {
    display: grid;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
    align-items: start; /* Cambio para alinear al inicio */
    overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
    gap: 10px; /* Espacio entre cajones de compras */

  }
  
.incidencia {
    display: grid; /* Cambio para usar flex y asegurar alineación y distribución */
    grid-template-columns: 0.8fr 3fr;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    background-color: rgba(112, 68, 43, 0.8);
    border-radius: 10%; /* Ajuste para un poco de redondeo de bordes */
    height: 10vh; /* Altura fija para todos los cajones */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Añade sombra */
    }
.text-container{
    display: flex;
    grid-template-columns: 0.8fr 3fr 0.8fr 3fr;
    justify-content: space-between; /* Centra el contenido horizontalmente */
    align-items: center;
    margin-left: 5%;
    margin-right: 8%;
    width: 100%;

}

/* Estilos para el botón de añadir saldo */
.support-add-balance {
    display: grid;
    height: 25%;
}

.support-add-balance button {
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 5px; /* Esquinas redondeadas para el botón */
    background-color: #70442b; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

/* Añadir saldo */
.overlay {
    position: fixed; /* Posición fija sobre todo lo demás */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }
  
.add-balance-popup {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 40px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Alinea el texto al centro */
}
  

.add-balance-popup input{
    height: 5vh;
    margin-bottom: 5%;
    background-color: white;
    color: black;

}

.add-balance-popup button{
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
    border: none; /* Remueve el borde del botón */
    border-radius: 40px; /* Esquinas redondeadas para el botón */
    background-color: #E9DBAB; /* Color de fondo del botón */
    color: #5C5353; /* Color del texto del botón */
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5vh;
    font-weight: bold;
}


  