<div class="support-container">
  <div class="support-header">
    <h2 id="nombre">Incidencias</h2>
  </div>
  <div class="support-content">
    <div *ngFor="let incidencia of datosIncidencia" class="incidencia" >
      <button style="background-color: transparent; border: none;" (click)="showOverlay(incidencia.descripcion, incidencia.email, index)" class="text-container">
        <p style="color: #E9DBAB;">{{ incidencia.maquina }}</p>
        <p style="color: #E9DBAB;">{{ incidencia.fecha }}</p>
        <p style="color: #E9DBAB;">{{ incidencia.descripcion }}</p>
        <p style="color: #E9DBAB;">{{ incidencia.enviado}}</p>
      </button>
  </div>
  <div class="overlay" *ngIf="isOverlayVisible">
    <div class="add-balance-popup">
      <h2 style="color: #70442b;"><b>Responder Incidencia</b></h2>
      <h4 style="color: #70442b;"><b>{{ descripcionActual }}</b></h4>
      <!-- Dentro del template del componente -->
      <input type="text" [placeholder]="'Escriba su respuesta aquí'" #respuestaInput>
      <button (click)="sendEmail($event)">Enviar</button>
      <button (click)="closeOverlay()">Cancelar</button>
    </div>
  </div>
</div>
