<div class="support-container">
    <div class="support-header">
        <h1>SOPORTE</h1>
        <h4>647893214</h4>
        <h4>telecoffee&#64;gmail.com</h4>
    </div>
    <div class="support-content">
        <div class="descripcion">
            <h3 style="font-weight: bold;  text-align: center; color: black">Problemas o Dudas</h3>
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input [(ngModel)]="nombre"></ion-input> 
            </ion-item>
            <ion-item>
                <ion-label position="floating">Descripción del problema</ion-label>
                <ion-textarea [(ngModel)]="descripcion"></ion-textarea>
            </ion-item>
  
            <div class="botón" style="position: absolute; left: 50%; transform: translate(-50%, -50%);">
                <button (click)="enviar_incidencia()">Enviar</button>
            </div>
        </div>
    </div>
  </div>
  