<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-content class="welcome">
  <div class="circulos">
    <div class="ellipse-1"></div>
    <div class="ellipse-3"></div>
    <div class="ellipse-4"></div>
    <div class="ellipse-2"></div>
  </div>
  <button class="botón text-1" (click)="redirigir_start_login()">Log In</button>
  <p class="text-2">No tienes cuenta? <span class="sign-up" (click)="redirigir_start_signup()">Sign Up</span></p>
  <ion-img src="../../assets/icon/v5_133.png" 
  style="position: absolute; top: 40%; left: 50%; transform: translate(-50%,-50%);" ></ion-img>
</ion-content>
