[Unit]
Description=MQTT simulator
After=network.target

[Service]
ExecStart=/usr/bin/python /home/lpro/apps_telecofee/Prototipo/mqtt_compras_server.py
WorkingDirectory=/home/lpro/apps_telecofee/Prototipo/
User=lpro

[Install]
WantedBy=default.target
