<div class="log-in">
  <div class="header">
    <div class="logo-container">
      <div class="logo-box">
        <ion-img src="../../assets/icon/v5_133.png" class="logo"></ion-img>
      </div>
    </div>
  </div>
  <div class="log-in-container">
    <div class="log-in-form">
      <h2>Bienvenido a TeleCoffee</h2>
      <form [formGroup]="formLogIn" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
    </div>
    <div class="log-in-button">
      <button type="submit" (click)="onSubmit()">Login</button>
    </div>
    <div class="forgot-password">
      <button (click)="redirigir_forgot()">Olvidaste tu contraseña?</button>
    </div>
  </div>
</div>