<ion-content class="log-in">
  <div class="ellipse-7"></div>
  <div class="rectangulo">
    <form [formGroup]="formLogIn" (ngSubmit)="onSubmit()">
      <div class="botón" style="position: absolute; left: 50%; transform: translate(-50%,-50%);">
        <ion-button class="text-1" expand="block" color="#5C5353" type="submit">Log In</ion-button>
      </div>
      <ion-button color="transparent" (click)="redirigir_forgot()"  style="width: 80vw; padding-top: 10%" class="text-2">Olvidaste tu contraseña?</ion-button>
      <p class="text-3" style="width: 98%; position: absolute; top: 10%; left: 50%; transform: translate(-50%,-50%);">Bienvenido a TeleCoffee</p>
      <p class="text-3" style="width: 90%; position: absolute; top: 15%; left: 50%; transform: translate(-50%,-50%);">para trabajadores</p>
      <div class="mail">
        <input formControlName="email" type="email" placeholder="E-Mail" style="position: absolute; top: 35%; left: 50%; transform: translate(-50%,-50%); border: none; outline: none; background: transparent; width: 200px;" required>
        <div class="line-1" style="position: absolute; top: 38%; left: 50%; transform: translate(-50%,-50%);"></div>
      </div>
      <div class="password">
        <input formControlName="password" type="password" placeholder="Password" style="position: absolute; top: 55%; left: 50%; transform: translate(-50%,-50%); border: none; outline: none; background: transparent; width: 200px;" required>
        <div class="line-1" style="position: absolute; top: 58%; left: 50%; transform: translate(-50%,-50%);">
        </div>
      </div>
    </form>
  </div>
  <div class="icono">
    <div class="ellipse-5"></div>
    <ion-img src="../../assets/icon/v5_133.png" id="img_8"></ion-img>
  </div>
</ion-content>
