.log-in {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  position: relative;
}

// Header
.header {
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #70442b;
  height: 50%;
  width: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-box {
  background-color: white;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  margin-top: -20%;

}

.logo {
  width: 100%; /* Asegura que el logo ocupe todo el tamaño de su contenedor */
  height: 100%;
}

// Formulario
.log-in-container {
  display: grid;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  background-color: white;
  padding: 4%;
  padding-right: 4%;
  box-sizing: border-box;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  //Estilos grid
  grid-template-rows: 5fr 1fr 1fr;
}

.log-in-buttons, 
.log-in-form, 
.log-in-button,
.forgot-password {
  display: block;
}

.log-in-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn {
  display: block;
  padding: 10px 20px;
  background-color: #fff; 
  cursor: pointer;
  outline: none; 
  color: black;
}

// Formulario
.log-in-form{
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.log-in-form h2{
  text-align: center;
  font-size: 24px;
  font-family: Nunito;
  font-weight: bold;
  color: rgba(42, 34, 34, 0.8899999856948853);
}

// Boton para iniciar sesion
.log-in-button {
  display: grid;
  justify-content: center;
  align-items: center;
}

.log-in-button button {
  cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
  border: none; /* Remueve el borde del botón */
  border-radius: 50px; /* Esquinas redondeadas para el botón */
  background-color: #e9dbab;
  color: white; /* Color del texto del botón */
  font-size: 20px;
  justify-content: center;
  width: 80vw;
  height: 100%;
  //Estilos texto
  font-size: 110%;
  font-family: Nunito;
  color: #2b2222;
}

.forgot-password{
  display: grid;
  justify-content: center;
  align-items: center;
}

.forgot-password button {
  cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
  border: none; /* Remueve el borde del botón */
  border-radius: 50px; /* Esquinas redondeadas para el botón */
  border-width: 0px;
  background-color: transparent;
  color: white; /* Color del texto del botón */
  font-size: 20px;
  justify-content: center;
  width: 80vw;
  height: 100%;
  //Estilos texto
  font-size: 110%;
  font-family: Nunito;
  color: #2b2222;
}