.log-in{
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}
.ellipse-7 {
  height: 65%;
  width: 120vw;
  top: -8%;
  left: -10%;
  border-radius: 50%;
  position: absolute;
  background-color: #f8f1d7;
}

.ellipse-5 {
  height: 25%;
  width: 50%;
  top: 7%;
  left: 27%;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}

#img_8 {
  height: 21%;
  width: 43%;
  top: 9%;
  left:30%;
  position: absolute;
}

.rectangulo {
  height: 60%;
  width: 84%;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  position: relative;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.botón {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 20px;
  border-radius: 40px;
  height: 10%;
  width: 85%;
  position: absolute;
  bottom: 30px;
  background-color: #e9dbab;
}

.botón_largo {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 20px;
  border-radius: 40px;
  height: 10%;
  width: 85%;
  position: absolute;
  background-color: #d6cdcd;
}

.text-1 {
  font-size: 120%;
  text-align: center;
  font-family: Nunito;
  font-weight: bold;
  color: #5C5353;
}

.text-2 {
  font-size: 110%;
  font-family: Nunito;
  color: #2b2222;
  position: absolute;
  width: 200px;
  top: 87%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}

.text-3 {
  text-align: center;
  font-size: 24px;
  font-family: Nunito;
  height: 41px;
  width: 320px;
  color: rgba(42, 34, 34, 0.8899999856948853);
}

.text-5 {
  height: 25px;
  width: 220px;
  color:rgba(195, 187, 187, 0.8199999928474426);
}

.text-4 {
  height: 25px;
  width: 220px;
  color:rgba(195, 187, 187, 0.8199999928474426);
}

.line-1 {
  transform: rotate(-1deg);
  height: 0px;
  width: 220px;
  border: 1px solid rgba(195, 187, 187, 0.8199999928474426);
}

.seleccionador {
  height: 59px;
  width: 264px;
}

.text-6 {
  transform: rotate(1deg);
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  font-family: Nunito;
  line-height: auto;
  color: rgba(92, 82, 82, 0.8899999856948853);
}
.text-7 {
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  font-family: Nunito;
  line-height: auto;
  color: #ffffff;
}
.icono {
  height: 189px;
  width: 195px;
}
