<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-content class="log-in">
  <div class="ellipse-7"></div>
  <div class="rectangulo">
  <div class="botón" style="position: absolute; left: 50%; transform: translate(-50%,-50%);">
    <ion-button class="text-1" expand="block" color="#5C5353">Log In</ion-button>
  </div>
    <p class="text-2">Forgot password?</p>
    <p class="text-3" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%,-50%);">Welcome to TeleCoffe</p>
    <div class="mail">
      <p class="text-4" style="position: absolute; top: 45%; left: 50%; transform: translate(-50%,-50%);">E-Mail</p>
      <div class="line-1" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);"></div>
    </div>
    <div class="password">
      <p class="text-5" style="position: absolute; top: 62%; left: 50%; transform: translate(-50%,-50%);">Password</p>
      <div class="line-1" style="position: absolute; top: 67%; left: 50%; transform: translate(-50%,-50%);"></div>
    </div>
    <div class="botón_largo" style="position: absolute; top: 15%; left: 50%; transform: translate(-50%,-50%);">
      <p class="botón" expand="block" style="width: 149px; height: 50px; position: absolute; top: 16.2%; left: 27%; transform: translate(-50%,-50%);">Log In</p>
      <ion-button class="botón_largo" expand="block" color="#d6cdcd" style="width: 100px; height: 40px; position: absolute; margin-top: 7.7%; margin-left: 50%;" (click)="redirigir_home_signup()">Sign Up</ion-button>
    </div>
  </div>
  <div class="icono">
    <div class="ellipse-5"></div>
    <ion-img src="../../assets/icon/v5_133.png" style="position: absolute; top: 70px; left: 127px; height: 179px; width: 145px;"></ion-img>
  </div>
</ion-content>
