*{
    margin:0px;
}

.trabajadores {
    height: calc(100vh - 8.7rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1%;
}

.grafico-box {
    border-radius: 10px;
    border: 2px solid #70442B;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 3%;
}

.creacion-users {
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

h1{
    text-align: center;
    font-size: 30px;
}

.listado-users {
    display: block;
    overflow-y: auto;
}

/* Estilos específicos del formulario */
#formularioCreacionUsuarios {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 80%;
    margin: 0 auto;
}

#formularioCreacionUsuarios .form-group {
    display: flex;
    flex-direction: column;
}

#formularioCreacionUsuarios .form-group label {
    margin-bottom: 8px; 
}

#formularioCreacionUsuarios .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px; 
}

#formularioCreacionUsuarios button {
    background-color: #70442B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
}

#formularioCreacionUsuarios button:hover {
    background-color: #57331f;
}

.password-group {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
.form-control {
    flex-grow: 1; 
}

.error {
    color: red;
    font-size: 1rem;
    margin-top: 5px;
}

/* Users container */
.user-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; 
    margin-bottom: 20px; 
    padding: 10px;
    border: 1px solid #ccc;
}

.user-container .informacion:first-child {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.user-container .informacion:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-container .informacion:last-child h3 {
    margin: 0;
    flex: 1;
}

.user-container .informacion:last-child button {
    margin-left: 10px;
}

.user-container h1, .user-container h3 {
    margin: 0;
}

.user-container p {
    margin: 0;
    opacity: 0.7;
}

.user-container button {
    padding: 10px 10px;
    cursor: pointer;
    background-color: #70442B;
    color: white;
    border: none;
    border-radius: 5px;
}

.user-container .restablecer-button:hover {
    background-color: #E9DBAB;
    color: black;
}

.user-container .eliminar-button:hover {
    background-color: #a01010;
}

  
  